body {
  font: caption;
  padding: 20px;
}

nav {
  text-align: center;
  background-color: lightskyblue;
  padding: 20px;
  width: 750px;
  margin: auto;
  border: 5px solid blue;
  font-size: 50px;
}

main {
  padding: 20px;
}

#instructions {
  text-align: center;
  background-color: gold;
  padding: 20px;
  width: 600px;
  margin: auto;
  border: 5px solid blue;
}

#resultsBoxes {
  display: none;
}

figure {
  background-color: burlywood;
  padding: 20px;
  border: 5px solid blue;
}

#clearScreen {
  display: none;
}

@media (max-width: 860px) {
  nav {
    width: 90%;
  }
  main {
    padding: 20px 0;
  }
  #resultsBoxes{
    flex-direction: column;
    align-items: center;
        margin: auto;
  }
}

@media (max-width: 725px) {
  #instructions {
    width: 90%;
  }
}

@media (max-width: 400px) {
  nav {
    width: 90%;
    font-size: 24px;
    padding: 5px;
  }
  #instructions {
    width: 90%;
    font-size: 18px;
    padding: 5px;
  }
}
