body {
  font: caption;
  padding:20px;
}

nav {
    text-align: center;
  background-color:lightskyblue;
  padding: 20px;
  width: 750px;
  margin: auto;
  border: 5px solid blue;
font-size: 50px;
}

main{
  padding:50px;
}

#instructions {
  text-align: center;
  background-color: gold;
  padding: 20px;
  width: 600px;
  margin: auto;
  border: 5px solid blue;
}

#resultsBoxes {
  display: none;
}

figure {
  background-color: burlywood;
  padding: 20px;
  border: 5px solid blue;
}

#clearScreen{
  display:none;
}
